{% extends 'baseCom.html' %}
{% load static %}

{% block content %}
<!-- Masthead-->
<header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h1 class="mx-auto my-0 text-uppercase">Our Mission</h1>
                <hr>
                <p class="text-white-50">In itself, Big Data is just a massive record of keys and values, but with the right processing it can help us accomplish amazing goals. DARTED's mission is to employ advanced analytics and AI techniques to help businesses make informed decisions about where and when to establish their presence. Our comprehensive analysis of local and industry data provides valuable insights into the ideal business locations, giving our clients a competitive edge in today's market. Rise above data and start your business with an edge. Start your business with DARTED.</p>
            </div>
        </div>
    </div>
</header>
{% endblock %}