{% extends 'baseCom.html' %}
{% load static %}

{% block content %}

    <!-- Signup-->
    <section class="signup-section" id="signup">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-10 col-lg-8 mx-auto text-center">
                    <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
                    <h2 class="text-white mb-5">Want to Join the team?</h2>

                    <!-- ======================== CONTACT FOR HERE ======================== -->
                    <form class="form-signup" action="" method="POST">
                        {% csrf_token %}
                        <!-- Email address input-->
                        
                        <div class="row input-group-newsletter">
                            <div class="col">{{ form.email }}</div>
                        </div>
                        <br>
                        <div class="row input-group-newsletter">
                            <div class="col">{{ form.name }}</div>
                            <div class="col">{{ form.city }}</div>
                        </div>
                        <br>
                        <div class="row input-group-newsletter">
                            <div class="col">{{ form.other }}</div>
                            <div class="col-auto"><button class="btn btn-primary " type="submit">Submit!</button></div>
                        </div>
                    </form>
                    <!-- ======================== CONTACT FORM END ======================== -->

                </div>
            </div>
        </div>
    </section>
    
{% include 'comertial2/partials/contact-footer.html' %}

{% endblock %}