{% extends 'baseCom.html' %}
{% load static %}


    {% block otherstatic %}
    <link rel="stylesheet" href="{% static 'css/css-newtemp/mines.css' %}">
    {% endblock %}
    
    {% block content %}
    <!-- Masthead-->
    <header class="masthead">
        <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
            <div class="d-flex justify-content-center">
                <div class="text-center">
                    <h1>What if...</h1>

                    <h2 class="text-white-50 mx-auto mt-2 mb-5">You could know where the mines are. <br> 
                        <hr>Basing your financial decisions on processed and currated data can help you maximise your income</h2>
                    
                    <table id=grid>
                    </table>
                    <BUTTON onclick="generateGrid();">Reset Grid</BUTTON>
                    <p id="mymessage"></p>
                    <script src="{% static 'js/js-newtemp/mines.js' %}"></script>
                </div>
            </div>
        </div>
    </header>
    {% endblock %}

