{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Minesweeper</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
</head>
<body>   
    <div class="flex-container">
        <div class="game-board">
            <br>
                <table id="board"></table>
        </div>
    </div>
        <section id="footer">
            <div id="start"><img src="{% static 'images/mineswp/start.png' %}"></div>
            <div id="size-btns">
                <div id="size-btns"><button id="size-9"><img src="{% static 'images/mineswp/easy.png' %}"> Easy</button></div> 
                <div id="size-btns"><button id="size-16"><img src="{% static 'images/mineswp/medium.png' %}"> Medium</button></div> 
                <div id="size-btns"><button id="size-30"><img src="{% static 'images/mineswp/hard.png' %}"> Hard</button></div>
            </div>
            <div id="clock"><em>"Shift + Click"</em></strong> to toggle <img src="{% static 'images/mineswp/flag.png' %}"></div>
        </section>
    <script src="{% static 'js/cell.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>